@mixin cursor {
  border-bottom-right-radius: 0;
  border-right: 2.5px solid #5f9d50;
  border-top-right-radius: 0;

  &::before {
    background-color: #5f9d50;
    content: ' ';
    height: 6px;
    position: absolute;
    right: -5px;
    top: -3px;
    width: 6px;
  }
}

.marker {
  background-color: #609d5062;
  position: absolute;

  &:last-of-type {
    @include cursor;
  }

  &.is-single {
    @include cursor;
    background-color: transparent;
    width: 0 !important;
  }
}

.ace_editor,
.ace_gutter {
  background-color: #191a1c;
}

.ace_scrollbar::-webkit-scrollbar {
  appearance: none;
  width: 10px;
}

.ace_scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: #4c5057;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
